@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root {
  --primary: #fe2c55;
  --default-layout-header-height: 60px;
  --black: #000;
  --white: #fff;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', san-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: scroll;
}

html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
 html ::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(22, 24, 35, 0.06);
 }
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, .06);
}
 html ::-webkit-scrollbar-track {
   border-radius: 0px;
   background-color: rgba(0, 0, 0, 0);
 }
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button, input, [tabindex] {
  border: none;
  outline: none;
}

a, [href] {
  color: var(--text-color);
  text-decoration: none;
}

body .tippy-box{
  text-align: left;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.1rem;
  background-color: rgba(84, 84, 84, 0.92);
  color: rgb(255, 255, 255);
  padding: 8px;
}

body .tippy-arrow {
  color: rgba(84, 84, 84, 0.92);
}