.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.container {
  width: min(1320px, 100%);
  display: flex;
  gap: 24px;
  margin-top: var(--default-layout-header-height);
  padding: 0 24px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
}
