.wrapper {
  --search-button-radius: 92px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  height: var(--default-layout-header-height, 60px);
  background-color: var(--white);
  width: 100%;
  padding: 0 14px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.inner {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.search, .search-result {
  width: 500px;
}

.search-tittle {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: rgba(22, 24, 35, 0.75);
  padding: 5px 12px 3px;
}

.search {
  position: relative;
  height: 46px;
  display: flex;
  background: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-button-radius);
  padding-left: 16px;
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    padding-right: 30px;
    color: var(--black);
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--primary);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    position: absolute;
    height: 28px;
    width: 1px;
    top: 9px;
    right: 52px;
    content: "";
    background-color: rgba(22, 24, 35, .12);
  }

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }

  &:hover {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.search-btn {
  width: 52px;
  height: 100%;
  border-top-right-radius: var(--search-button-radius);
  border-bottom-right-radius: var(--search-button-radius);
  color: rgba(22, 24, 35, 0.34);
  font-size: 1.8rem;

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.06);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.clear, .load {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  cursor: pointer;
}

.load {
animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.actions {
  display: flex;
  align-items: center;
}

.iconplus {
  padding-right: 16px;
}

.more {
  font-size: 2rem;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
}

.icon-btn-user {
  width: 26px;
  height: 26px;
  font-size: 2.4rem;
  background-color: transparent;
  margin-left: 16px;
  padding: 3px 3px 0 3px;
}

.icon-btn-user2 {
  width: 26px;
  height: 26px;
  font-size: 4.3rem;
  background-color: transparent;
  margin-left: 16px;
  padding: 3px 3px 0 3px;
}

.current-user-avatar {
  margin-left: 24px;
  position: relative;
  width: 32px;
  height: 32px;
  background: center center / cover no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.sup-badge {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  left: 16px;
  background: rgb(254, 44, 85);
  min-width: 23px;
  height: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  top: -247%;
}