.wrapper {
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  height: 36px;
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;

  + .wrapper {
    margin: 0 16px;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

.primary {
  color: var(--white);
  background-color: var(--primary);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    background-color: rgba(254, 44, 85, 0.08);;
  }
}

.text {
  min-width: 110px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  background: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 600;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.round {
  border: 1px solid rgba(22, 24, 35, 0.12);
  color: rgba(22, 24, 35, 0.75);
  font-weight: 700;
  font-size: 1.6rem;
  padding: 0px 8px;
  min-width: 90px;
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  border-radius: 52px;
  cursor: pointer;
  align-items: center;

  &:hover {
    border-color: rgba(22, 24, 35, 0.3);
    background-color: rgb(255, 255, 255);
  }
}

.small {
  min-width: 96px;
}

.large {
  min-width: 168px;
  min-height: 40px;
  padding: 6px 8px;
  font-size: 1.6rem;
}

.scroll {
  min-width: 32px;
  min-height: 42px;
  border-radius: 50%;
  background: rgb(254, 44, 85);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  transform: rotate(-90deg);
}